<?xml version="1.0" encoding="UTF-8"?>
<!--
    movie-list is client-server program to manage a household's food stock
    Copyright (C) 2019  The movie-list developers

    This file is part of the movie-list program suite.

    movie-list is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    movie-list is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <!-- DB Layer -->
    <bean name="healthBackend" class="de.njsm.movielist.server.db.HealthHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="indexBackend" class="de.njsm.movielist.server.db.IndexHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="movieBackend" class="de.njsm.movielist.server.db.MovieHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="userBackend" class="de.njsm.movielist.server.db.UserHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="actorBackend" class="de.njsm.movielist.server.db.ActorHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="genreBackend" class="de.njsm.movielist.server.db.GenreHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>
    <bean name="searchBackend" class="de.njsm.movielist.server.db.SearchHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <!-- Business Layer -->
    <bean name="healthManager" class="de.njsm.movielist.server.business.HealthManager" scope="request">
        <constructor-arg index="0" ref="healthBackend" />
    </bean>
    <bean name="indexManager" class="de.njsm.movielist.server.business.IndexManager" scope="request">
        <constructor-arg index="0" ref="indexBackend" />
    </bean>
    <bean name="movieManager" class="de.njsm.movielist.server.business.MovieManager" scope="request">
        <constructor-arg index="0" ref="movieBackend" />
    </bean>
    <bean name="userManager" class="de.njsm.movielist.server.business.UserManager" scope="request">
        <constructor-arg index="0" ref="userBackend" />
    </bean>
    <bean name="actorManager" class="de.njsm.movielist.server.business.ActorManager" scope="request">
        <constructor-arg index="0" ref="actorBackend" />
    </bean>
    <bean name="genreManager" class="de.njsm.movielist.server.business.GenreManager" scope="request">
        <constructor-arg index="0" ref="genreBackend" />
    </bean>
    <bean name="searchManager" class="de.njsm.movielist.server.business.SearchManager" scope="request">
        <constructor-arg index="0" ref="searchBackend" />
    </bean>

    <!-- Web Layer -->
    <bean name="healthEndpoint" class="de.njsm.movielist.server.web.HealthEndpoint" scope="request">
        <constructor-arg index="0" ref="healthManager" />
    </bean>
    <bean name="authEndpoint" class="de.njsm.movielist.server.web.AuthEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
    </bean>
    <bean name="indexEndpoint" class="de.njsm.movielist.server.web.IndexEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
        <constructor-arg index="1" ref="indexManager" />
    </bean>
    <bean name="movieEndpoint" class="de.njsm.movielist.server.web.MovieEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
        <constructor-arg index="1" ref="movieManager" />
        <constructor-arg index="2" ref="userManager" />
        <constructor-arg index="3" ref="actorManager" />
        <constructor-arg index="4" ref="genreManager" />
    </bean>
    <bean name="actorEndpoint" class="de.njsm.movielist.server.web.ActorEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
        <constructor-arg index="1" ref="actorManager" />
    </bean>
    <bean name="genreEndpoint" class="de.njsm.movielist.server.web.GenreEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
        <constructor-arg index="1" ref="genreManager" />
    </bean>
    <bean name="searchEndpoint" class="de.njsm.movielist.server.web.SearchEndpoint" scope="request">
        <constructor-arg index="0" ref="freemarker" />
        <constructor-arg index="1" ref="genreManager" />
        <constructor-arg index="2" ref="userManager" />
        <constructor-arg index="3" ref="searchManager" />
    </bean>

    <bean id="freemarker" factory-bean="freemarkerConfig" factory-method="getConfiguration" />

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="object_wrapper">
                    DefaultObjectWrapper(
                    2.3.29,
                    iterableSupport=true)
                </prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <util:map>
                <entry key="translate">
                    <bean class="de.njsm.movielist.server.web.template.methods.Translate" />
                </entry>
                <entry key="url">
                    <bean class="de.njsm.movielist.server.web.template.methods.Url">
                        <constructor-arg index="0" ref="basePath" />
                        <constructor-arg index="1">
                            <util:map>
                                <entry key="index" value="" />
                                <entry key="latest" value="latest" />
                                <entry key="removed_movies" value="to_delete" />
                                <entry key="absent_movies" value="absent" />
                                <entry key="create_account" value="create_account" />
                                <entry key="login" value="login" />
                                <entry key="logout" value="logout" />
                                <entry key="add_movie" value="movies/add" />
                                <entry key="add_location" value="add_location" />
                                <entry key="add_comment" value="movies/%s/add_comment" />
                                <entry key="search" value="search" />
                                <entry key="detail" value="movies/%s/detail" />
                                <entry key="edit" value="movies/%s/edit" />
                                <entry key="mark_removal" value="movies/%s/mark_removal" />
                                <entry key="mark_watched" value="movies/1234/mark_watched/5678" />
                                <entry key="delete" value="movies/%s/delete" />
                                <entry key="delete_comment" value="movies/%s/%s/delete" />
                                <entry key="actors" value="actors" />
                                <entry key="add_actor" value="actors/add" />
                                <entry key="actor_detail" value="actors/%s/detail" />
                                <entry key="actor_edit" value="actors/%s/edit" />
                                <entry key="actor_merge" value="actors/%s/merge" />
                                <entry key="genres" value="genres" />
                                <entry key="add_genre" value="genres/add" />
                                <entry key="genre_detail" value="genres/%s/detail" />
                                <entry key="genre_edit" value="genres/%s/edit" />
                            </util:map>
                        </constructor-arg>
                    </bean>
                </entry>
                <entry key="static">
                    <bean class="de.njsm.movielist.server.web.template.methods.Static">
                        <constructor-arg index="0" ref="staticBasePath" />
                    </bean>
                </entry>
            </util:map>
        </property>
    </bean>
</beans>