{% extends "movies/base.html" %}
{% load i18n %}
{% load static %}
{% load tz %}
{% load bootstrap %}

{% block content %}
<div>
    <div class="row">
        <div class="col">
            <h2>{{ movie.name }}</h2>
        </div>
        <div class="col col-auto">
            <div class="dropdown dropdown-menu-right">
                <button id="Watched" type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <img class="white-icon" src="{% static " movies/octicons/build/svg/eye.svg"
                    %}"/>
                </button>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="Watched">
                    {% for user in users %}
                    <div style="cursor: pointer" class="dropdown-item"
                         onclick="mark_watched({{ movie.id }}, {{ user.id }})">
                        {{ user.username }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col col-auto">
            <a class="btn btn-success" href="{% url 'movies:edit' movie.id %}">
                <img class="white-icon" src="{% static " movies/octicons/build/svg/pencil.svg"
                %}"/>
            </a>
        </div>
        <div class="col col-auto">
            {% if movie.deleted %}
            <a href="{% url " movies:delete" movie.id %}" class="btn
            btn-warning">${ trans("Record again") }</a>
            {% elif movie.to_delete %}
            <a href="{% url " movies:mark_removal" movie.id %}" class="btn
            btn-warning">${ trans("Keep anyway") }</a>
            <a href="{% url " movies:delete" movie.id %}" class="btn
            btn-danger">${ trans("Remove") }</a>
            {% else %}
            <a href="{% url " movies:mark_removal" movie.id %}" class="btn
            btn-warning"><img src="{% static " movies/octicons/build/svg/trashcan.svg"
            %}"/></a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal">
                {% if movie.year != 0 %}
                <dt>${ trans("Year") }</dt>
                <dd>{{ movie.year }}</dd>
                {% endif %}
                <dt>${ trans("Recorded on") }</dt>
                <dd>{{ movie.created_at | date:"j. n. Y"}}</dd>
                {% if movie.link != '' %}
                <a href="{{ movie.link }}">${ trans("External information")
                    }</a>
                {% endif %}
                {% for genre in movie.genres.all %}
                {% if forloop.first %}
                <dt>${ trans("Genres") }</dt>
                {% endif %}
                <a href="{% url " movies:genre_detail" genre.genre.id %}">
                <dd class="badge badge-info" style="margin-right: 5px">{{
                    genre.genre }}
                </dd>
                </a>
                {% endfor %}
            </dl>
        </div>
        <div class="col">
            <dl class="dl-horizontal">
                <dt>${ trans("Actors") }</dt>
                <dd>
                    <ul>
                        {% for actor in movie.actors.all %}
                        <a href="{% url " movies:actor_detail" actor.id %}">
                        <li>{{ actor.first_name }} {{ actor.last_name }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl class="dl-horizontal">
                <dt>${ trans("Watched by") }</dt>
                <dd>
                    <ul>
                        {% for status in movie.watched_by.all %}
                        <li>{{ status.user.username }} ({{ status.watched_on
                            }})
                        </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>{{ movie.description | linebreaksbr }}</p>
<h2>${ trans("Comments") }</h2>
<div class="container">
    {% for comment in comments %}
    <div style="margin-top: 5px; padding: 5px"
         class="justify-content-between row border rounded">
        <div class="col">
            {{ comment.creator }}: {{ comment.content }}
        </div>
        <a class="col-auto"
           href="{% url 'movies:delete_comment' movie.id comment.id %}">
            <img style="height: 25px" src="{% static " movies/octicons/build/svg/trashcan.svg"
            %}"/>
        </a>
    </div>
    {% endfor %}
</div>
<div style="margin: 10px;">
    <form id="form" class="form-inline"
          action="{% url 'movies:detail' movie.id %}" method="post">
        {% csrf_token %}
        <textarea placeholder="${ trans(" Leave a comment") }" form="form"
        class="form-control" rows="2" name="content"
        hint="${ trans("Add comment") }"></textarea>
        <input class="btn btn-success" type="submit" value="${ trans(" Comment")
        }"/>
    </form>
</div>
{% endblock %}
