{% load i18n %}
{% load static %}
{% load tz %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>${ trans("Name") }</th>
            <th>${ trans("Number of movies") }</th>
        </tr>
        {% for item in list %}
        <tr class="clickable-row" style="cursor: pointer"
            onclick="window.location='{% url path item.id %}'">
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
